.navbar {
    position: fixed;
}


#longBar{
    width: 100%;
}
 
h1{
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 0 0 750px 
    
}
p {
font-size: 3rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding: 0 0 0 0 }
.puppy{
    height: 50vh;
}

body{
background-color:#386153;
}
.centerText{
   text-align: center;

}
div img{
width: auto;
}

section{
    bottom: 100px;
}


.carousel-inner .item  img {
    width:240px;
    height:260px;
  }

#longbar{
      background-color: red !important;
  }